@import "./variables.scss";

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &-title {
    color: $primary-color;
    padding: 5px;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid $secondary-color;
    padding-bottom: 5px;
  }

  &-body {
    margin-top: 15px;
  }
}
