@import "./variables.scss";

.section {
  &-title {
    display: block;
    color: $primary-color;
    padding: 5px;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid $secondary-color;
    padding-bottom: 7px;

    &.secondary {
      color: $secondary-color;
      font-size: 22px;
      font-weight: 400;
      border-bottom: none;
    }
  }
}
