$font-family: Roboto, "Helvetica Neue", sans-serif; // from material

// colors
$black: #3b3b3b;
$white: #ffffff;
$red: #ff0000;
$light-grey: #dddddd;

$primary-color: #0fca0f;
$secondary-color: #3b3b3b;
$tertiary-color: #333;
$primary-color-contrast: $white;
$secondary-color-contrast: $white;

$bgColor: #e8eff3;
