$font-family: Roboto, "Helvetica Neue", sans-serif; // from material

// colors
$black: #3b3b3b;
$white: #ffffff;
$red: #ff0000;
$light-grey: #dddddd;

$primary-color: #bb0808;
$secondary-color: #242582;
$tertiary-color: #99738E;
$primary-color-contrast: $white;
$secondary-color-contrast: $white;

$bgColor: #e8eff3;
