<div class="toolbar">
  <mat-toolbar color="accent">
    <div class="vertical-center">
      <span>{{ title }}</span>
    </div>

    <div class="data-box vertical-center">
      <p *ngIf="!username">{{ time }}</p>
      <p *ngIf="username">{{ time }} - {{ username }}</p>
      <button
        *ngIf="errors?.length"
        class="popover-error-toggle"
        mat-icon-button
        type="button"
        placement="bottom"
        container="body"
        [ngbPopover]="popoverList"
      >
        <mat-icon aria-hidden="false" aria-label="Errori">
          error_outline
        </mat-icon>
      </button>
    </div>

    <ng-container *ngIf="username">
      <div class="functions-box vertical-center">
        <button
          *ngFor="let f of functions"
          mat-icon-button
          type="button"
          (click)="f.onClick()"
        >
          <mat-icon aria-hidden="false">{{ f.name }}</mat-icon>
        </button>
        <button
          *ngIf="!isHome()"
          mat-icon-button
          type="button"
          (click)="goToHome()"
        >
          <mat-icon aria-hidden="false" aria-label="Dashboard">home</mat-icon>
        </button>
        <button
          class="icon-logout"
          mat-icon-button
          type="button"
          (click)="doLogout()"
        >
          <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-toolbar>
</div>

<ng-template #popoverList>
  <ul class="popover-error-list">
    <li class="popover-error-item" *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</ng-template>
