<div
  class="custom-card"
  [ngClass]="{
    'custom-card--small': small,
    'custom-card--warning': getCardStatus() === 'warning',
    'custom-card--readonly': getCardStatus() === 'readonly'
  }"
  (click)="onClick($event)"
>
  <div class="custom-card__header">
    <div class="custom-card__header-icon" *ngIf="icon">
      <mat-icon aria-hidden="false">{{ icon }}</mat-icon>
    </div>
    <span class="custom-card__header-title">{{ title }}</span>
  </div>
  <div class="custom-card__body">
    <span class="custom-card__body-description" *ngIf="description">
      {{ description }}
    </span>
    <span class="custom-card__body-price" *ngIf="price">
      {{ price | normalizePrice | number: "1.2-2" }} {{ currency }}
    </span>
    <span
      class="custom-card__body-stock"
      *ngIf="getCardStatus() === 'warning'"
    >
      x{{ getLeft() }}
    </span>
    <div class="custom-card__body-bottom">
      <div class="custom-card__body-bottom-remove-icon">
        <button
          mat-icon-button
          matSuffix
          type="button"
          [hidden]="quantity === 0"
          (click)="onRemoveClick()"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div
        class="custom-card__body-bottom-quantity"
        [ngClass]="{
          'custom-card__body-bottom-quantity-error': isOutOfStock()
        }"
        *ngIf="quantity !== undefined"
      >
        <span *ngIf="stock > 0">{{ quantity }}</span>
        <span *ngIf="stock === 0">--</span>
      </div>
    </div>
  </div>
</div>
