<div
  class="custom-card"
  [ngClass]="{
    'custom-card--small': small,
    'custom-card--warning': getCardStatus() === 'warning',
    'custom-card--readonly': getCardStatus() === 'readonly'
  }"
  (click)="onClick($event)"
>
  <div class="custom-card__header">
    <div class="custom-card__header-icon" *ngIf="icon">
      <mat-icon aria-hidden="false">{{ icon }}</mat-icon>
    </div>
    <span class="custom-card__header-title">{{ title }}</span>
  </div>
  <div class="custom-card__body">
    <span class="custom-card__body-description" *ngIf="description">
      {{ description }}
    </span>
    <span class="custom-card__body-price" *ngIf="price">
      {{ price | normalizePrice | number: "1.2-2" }} {{ currency }}
    </span>
    <span class="custom-card__body-left" *ngIf="getCardStatus() === 'warning'">
      x{{ getLeft() }}
    </span>
    <div
      class="custom-card__body-quantity"
      [ngClass]="{ 'custom-card__body-quantity-error': isOutOfStock() }"
      *ngIf="quantity !== undefined"
    >
      <span *ngIf="left > 0">{{ quantity }}</span>
      <span *ngIf="left === 0">--</span>
    </div>
  </div>
</div>
