@import "../../base/style/variables.scss";

.cash-desk {
  &:not(.is-lefthanded) {
    margin-left: 10px;

    .cash-desk__scroll-button {
      right: 20px;
    }
  }

  &.is-lefthanded {
    margin-right: 10px;

    .cash-desk__scroll-button {
      left: 20px;
    }
  }

  @media (min-width: 1920px) {
    width: 1720px;
  }

  &__total {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      background-color: #fff;
    }
  }

  &__scroll-button {
    position: fixed;
    bottom: 20px;
    transform: translateY(100px);
  }

  &__take-away {
    height: 55.56px;
    justify-content: flex-end;
  }

  &__notes {
    padding-top: 15px;
    border-right: 1px solid $secondary-color;

    textarea {
      height: 100px;
    }
  }

  &__summary {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__splitter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__amounts {
      &-computed {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
        line-height: 1.125;
        padding-bottom: 1.34375em;
        margin: 0.25em 0;

        &-amount {
          padding-left: 5px;
          padding-right: 2px;
          font-size: 18px;
        }
      }
    }
  }

  &__send-button-wrapper {
    text-align: right;

    button.cash-desk__splitter-button {
      width: 80%;
      height: 70px;
    }
  }
}

.printing {
  &-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text {
    padding: 15px;
    font-size: 24px;
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
