.cash-desk {
  margin-left: 10px;

  @media (min-width: 1920px) {
    width: 1720px;
  }

  &__total {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      background-color: #fff;
    }
  }

  &__scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateY(100px);
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
