<div
  class="cash-desk container"
  [class.is-lefthanded]="isUserLefthanded"
  [hidden]="printing"
>
  <div class="row mt-20">
    <div class="col" (resized)="checkIfShowScrollButton()">
      <ng-container *ngFor="let category of categories">
        <app-category
          [cardSmall]="true"
          [title]="category?.title"
          [children]="category?.children"
          (onCardClickEvent)="
            onCardClick(
              $event.cardTitle,
              $event.isShiftPressed,
              $event.isCtrlPressed
            )
          "
        ></app-category>
      </ng-container>

      <ng-container [formGroup]="formGroup">
        <app-section-title [title]="'Carrello'"></app-section-title>
        <div class="mt-15">
          <ng-container *ngFor="let el of cart">
            <app-cart-detail
              [title]="el.title"
              [quantity]="el.quantity"
              [price]="el.price"
            ></app-cart-detail>
          </ng-container>
        </div>
        <div class="cash-desk__total-wrapper">
          <span class="cash-desk__total-title">Totale</span>
          <span class="cash-desk__total-value" *ngIf="cart.length > 0">
            {{ getTotal() | normalizePrice | number: "1.2-2" }} {{ currency }}
          </span>
          <span class="cash-desk__total-value" *ngIf="cart.length === 0">
            --- {{ currency }}
          </span>
        </div>

        <div class="mt-30">
          <app-section-title [title]="'Note e riepilogo'"></app-section-title>
        </div>
        <div class="mt-15">
          <div class="row" *ngIf="configurationsService.__isNotClient('BAR')">
            <div class="col-lg-6 cash-desk__notes">
              <mat-form-field appearance="outline">
                <mat-label>Note cucina</mat-label>
                <textarea
                  matInput
                  type="text"
                  formControlName="notes"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-6 cash-desk__summary">
              <div class="row">
                <div class="col-lg-8">
                  <ng-container
                    *ngTemplateOutlet="changeAmountWrapper"
                  ></ng-container>
                </div>
                <div class="col-lg-4 vertical-center cash-desk__take-away">
                  <mat-checkbox *ngIf="showTakeAway" formControlName="takeAway">
                    Asporto
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 cash-desk__splitter">
                  <mat-form-field appearance="outline">
                    <mat-label>Da detrarre {{ currency }} </mat-label>
                    <input
                      matInput
                      autocomplete="off"
                      type="number"
                      formControlName="amountToBeDeducted"
                      (keypress)="formatAmount('amountToBeDeducted', $event)"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-6 cash-desk__send-button-wrapper">
                  <ng-container *ngTemplateOutlet="sendButton"></ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="configurationsService.__isClient('BAR')">
            <div class="col-lg-12 cash-desk__summary">
              <div class="row">
                <div class="col-lg-6">
                  <ng-container
                    *ngTemplateOutlet="changeAmountWrapper"
                  ></ng-container>
                </div>
                <div class="col-lg-6 cash-desk__send-button-wrapper">
                  <ng-container *ngTemplateOutlet="sendButton"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-15"></div>
      </ng-container>
    </div>
  </div>

  <button
    class="cash-desk__scroll-button"
    mat-fab
    type="button"
    color="primary"
    (click)="scrollToBottom()"
    [@animateScrollButton]="showScrollButton ? 'visible' : 'hidden'"
  >
    <mat-icon aria-hidden="false">arrow_downward</mat-icon>
  </button>
</div>

<div *ngIf="printing" class="printing-wrapper">
  <span class="printing-text">Stampa in corso ...</span>
</div>

<div id="bottomScrollDestionation" style="visibility: hidden"></div>

<ng-template #changeAmountWrapper>
  <div class="row">
    <div class="col-lg-6 cash-desk__splitter" [formGroup]="formGroup">
      <mat-form-field
        class="cash-desk__splitter__amounts-received"
        appearance="outline"
      >
        <mat-label>Importo ricevuto {{ currency }} </mat-label>
        <input
          matInput
          autocomplete="off"
          type="number"
          formControlName="receivedAmount"
          (keypress)="formatAmount('receivedAmount', $event)"
        />
      </mat-form-field>
    </div>
    <div class="col-lg-6 cash-desk__splitter__amounts-computed">
      <span>Importo dovuto: </span>
      <span
        *ngIf="computedAmount !== undefined"
        class="cash-desk__splitter__amounts-computed-amount"
      >
        {{ computedAmount | normalizePrice | number: "1.2-2" }}
      </span>
      <span
        *ngIf="computedAmount === undefined"
        class="cash-desk__splitter__amounts-computed-amount"
        >---</span
      >
      <span> {{ currency }}</span>
    </div>
  </div>
</ng-template>

<ng-template #sendButton>
  <button
    class="cash-desk__splitter-button"
    mat-raised-button
    color="primary"
    [disabled]="cart.length === 0"
    (click)="onSubmit()"
  >
    Invia
  </button>
</ng-template>
