@import "../../base/style/variables.scss";

.cash-desk {
  margin-left: 10px;

  @media (min-width: 1920px) {
    width: 1720px;
  }

  &__total {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      background-color: #fff;
    }
  }

  &__scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateY(100px);
  }

  &__summary {
    border-left: 1px solid $secondary-color;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__splitter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__amounts {
      &-received {
        width: 50%;
      }

      &-computed {
        white-space: nowrap;
        line-height: 1.125;
        padding-bottom: 1.34375em;
        margin: 0.25em 0;
        margin-left: 30px;

        &-amount {
          font-size: 18px;
        }
      }
    }

    &-button {
      width: 30%;
      height: 70px;
    }
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
