@import "../../../base/style/variables.scss";

.storage-edit {
  // header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  // body
  &__body {
    padding: 15px;
  }

  // footer
  &__footer {
    padding: 15px;

    div.row {
      flex-direction: row-reverse;
    }
  }
}
