<div class="storage-edit__header">
  <span class="storage-edit__title">Gestione prodotto</span>
  <button
    class="storage-edit__close"
    mat-icon-button
    type="button"
    (click)="modal.dismiss()"
  >
    <mat-icon aria-hidden="false" aria-label="Chiudi">close</mat-icon>
  </button>
</div>
<div class="storage-edit__body" [formGroup]="formGroup">
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Titolo</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="title"
          required
          [type]="'text'"
        />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Descrizione</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="description"
          [type]="'text'"
        />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Prezzo</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="price"
          required
          [type]="'text'"
          (keypress)="formatAmount($event)"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Giacenza</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="stock"
          required
          [type]="'text'"
          (keypress)="formatLeft($event)"
        />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select required formControlName="category">
          <mat-option *ngFor="let c of categories" [value]="c.value">
            {{ c.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
        <mat-label>Posizione</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="position"
          [type]="'number'"
          [min]="0"
        />
      </mat-form-field>
    </div>
  </div>
</div>
<div class="storage-edit__footer">
  <div class="row">
    <div class="col-3">
      <button
        color="primary"
        type="button"
        mat-raised-button
        [disabled]="!isValid()"
        (click)="onSave()"
      >
        Salva
      </button>
    </div>
  </div>
</div>
