@import "../../base/style/variables.scss";

.reports {
  // header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  // body
  &__body {
    padding: 50px 15px;

    div.col-12 {
      text-align: center;
    }

    span {
      font-size: 20px;
    }
  }
}
