@import "./app/base/style/variables.scss";

@import "./app/base/style/form-container";
@import "./app/base/style/toolbar";
@import "./app/base/style/card";
@import "./app/base/style/category";
@import "./app/base/style/section-title";
@import "./app/base/style/cart-detail";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: $bgColor;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.mat-form-field,
button {
  width: 100%;
}

div.vertical-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
  font-weight: 400;
}

.iframe-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.modal-open .modal {
  opacity: 1;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.snack-success {
  background-color: rgb(0, 200, 0) !important;
  color: white !important;
}

.snack-error {
  background-color: rgb(200, 0, 0) !important;
  color: white !important;
}

ngb-popover-window#ngb-popover-0 {
  margin-top: 15px;
  max-width: 350px;
  min-width: 350px;

  .popover-error {
    &-list {
      margin: 0;
      padding-left: 10px;
      color: #ed3a3a;
    }

    &-item {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
